.language {
    position: fixed;
    width: 6rem;
    height: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    left: 12.5%;
    top: 5rem;
    gap: 1rem;
    z-index: 2;

}

.language__button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

